## Generate Tests for `{{ method_name }}` in `{{ class_name }}`

### Method Signature
```java
{{ method_signature }}
```

{% if test_scenarios %}
### Test Scenarios to Implement
{% for scenario in test_scenarios %}
{{ loop.index }}. **{{ scenario.name }}** (Priority {{ scenario.priority }})
{% if scenario.description %}   - Description: {{ scenario.description }}{% endif %}
{% if scenario.expected_behavior %}   - Expected: {{ scenario.expected_behavior }}{% endif %}
{% endfor %}
{% endif %}

{% if mock_fields %}
### Available Mock Fields
```java
{% for mock in mock_fields %}
@Mock {{ mock }};
{% endfor %}
@InjectMocks {{ class_name_lower }};
```
{% endif %}

{% if dependencies_called %}
### Dependencies This Method Calls
Mock these in order: {{ dependencies_called_str }}
{% endif %}

{% if registry_context %}
{{ registry_context }}
{% endif %}
